<p>menu works!</p>
<div class="banner"></div>

<!-- <div class="container">
<mat-card class="example-card" appearance="outlined">

    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../assets/images/product-show3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Add To Card</button>
      <button mat-button>BUY NOW</button>
    </mat-card-actions>
  </mat-card>
</div>
   -->
<div class="container p-5">
  <div class="card">
    <div
      class="bg-image hover-overlay"
      data-mdb-ripple-init
      data-mdb-ripple-color="light"
    >
      <img
        src="https://www.clarinsusa.com/dw/image/v2/AAFS_PRD/on/demandware.static/-/Sites-clarins-master-products/default/dwefc54327/original/80104509_original_original_1.jpg?sw=520&sh=520"
        class="img-fluid"
      />
      <a href="#!">
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.15)"
        ></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Skin Care</h5>
      <p class="card-text">
        ard title and make up the bulk of the card's content.
      </p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>

  <div class="card">
    <div
      class="bg-image hover-overlay"
      data-mdb-ripple-init
      data-mdb-ripple-color="light"
    >
      <img
        src="https://www.clarinsusa.com/dw/image/v2/AAFS_PRD/on/demandware.static/-/Sites-clarins-master-products/default/dwefc54327/original/80104509_original_original_1.jpg?sw=520&sh=520"
        class="img-fluid"
      />
      <a href="#!">
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.15)"
        ></div>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">Skin Care</h5>
      <p class="card-text">
        ard title and make up the bulk of the card's content.
      </p>
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
  <div class="card">
    <div
      class="bg-image hover-overlay"
      data-mdb-ripple-init
      data-mdb-ripple-color="light"
    >
      <!-- <img
        src="https://www.clarinsusa.com/dw/image/v2/AAFS_PRD/on/demandware.static/-/Sites-clarins-master-products/default/dwefc54327/original/80104509_original_original_1.jpg?sw=520&sh=520"
        class="img-fluid"
      > -->
      <img [src]="url" alt="Cat Image">

      
      <!-- <a href="#!">
        <div
          class="mask"
          style="background-color: rgba(251, 251, 251, 0.15)"
        ></div>
      </a> -->

    </div>
    <div class="card-body">
      <h5 class="card-title">Skin Care</h5>
      <p class="card-text">
        ard title and make up the bulk of the card's content.
      </p>
      <!-- <a href="#!" class="btn btn-primary" data-mdb-ripple-init>Button</a> -->
      <button class="btn btn-primary" type="submit">Button</button>
    </div>
  </div>
</div>


